<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Comment</title>
</head>

<body>

    <b>
        Comment Id: <%= comment.id %>
    </b> <br>
    <i>
        Username: <%= comment.username %>
    </i><br>
    <p>
        <%= comment.comment %>
    </p>

    </li>

    <a href="/comments/<%=comment.id%>/edit">Edit</a> <br>

    <form method="post" action="/comments/<%= comment.id %>/delete?_method=DELETE">
        <button>Delete</button>
    </form>


    <a href="/comments">Back to Index</a>




</body>

</html>